<div class="jumbotron">
    <h1>Analytic Hierarchy Process</h1>
    <p class="lead">AHP is a structured technique for organizing and analyzing complex decisions, based on mathematics and psychology. It was developed by Thomas L. Saaty in the 1970s and has been extensively studied and refined since then.</p>
    <p><a href="https://en.wikipedia.org/wiki/Analytic_hierarchy_process" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Create a choice, create its criteria, add alternatives, fill in the comparisons and calculate.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inconsistency</h2>
        <p>In case of inconsistencies fill in certain comparisons again.</p>
        <p><a class="btn btn-default" href="https://www.pmi.org/learning/library/analytic-hierarchy-process-prioritize-projects-6608">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Video</h2>
        <p>For a better explanation, watch this educational video.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=J4T70o8gjlk">Learn more &raquo;</a></p>
    </div>
</div>
